src/SLCobraClientKit.Core/obj
src/SLCobraClientKit.Core/bin
src/SLCobraClientKit.Droid/bin
src/SLCobraClientKit.iOS/obj
src/SLCobraClientKit.UI/bin
src/SLCobraClientKit.UITest/obj
UnitTest/obj
src/SLCobraClientKit.UI/obj
src/SLCobraClientKit.Droid/obj/Debug
src/SLCobraClientKit.Droid/obj
.vs
obj
src/Proact.Core/bin
src/Proact.Droid/bin
src/Proact.UI/bin
src/Proact.Droid/proact.keystore
src/Proact.Droid/proact_beta.keystore
.idea
UnitTest/bin
UnitTest/objß
src/Proact.UI/mono_crash.3815c0f64.0.json
src/Proact.UI/mono_crash.3815c0f64.0.json
